# ============================================================
# PostgreSQL
# ============================================================

PG_USER=postgres
PG_PASSWORD=postgres
PG_DATABASE=mlflow_db
PG_PORT=5432


# ============================================================
# MinIO
# ============================================================

MINIO_ACCESS_KEY=minio
MINIO_SECRET_ACCESS_KEY=minio123

MINIO_PORT=9000
MINIO_PORT_UI=9001

MLFLOW_BUCKET_NAME=mlflow


# ============================================================
# MLflow
# ============================================================

MLFLOW_PORT=5000

MLFLOW_TRACKING_URI=http://127.0.0.1:5000

# Utilizaremos un experimento nuevo porque los experimentos
# antiguos pueden conservar su artifact URI anterior.
MLFLOW_EXPERIMENT_NAME=airline-satisfaction-v2

MLFLOW_MODEL_NAME=airline-satisfaction-best-random-forest
MLFLOW_MODEL_ALIAS=champion


# ============================================================
# Entrenamiento
# ============================================================

# Para pruebas rápidas usar 1 o 3.
# Para entrenamiento final pueden usar 10.
OPTUNA_TRIALS=1